*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width : 100%;
} 
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #050505; 
}
nav{
    flex :1; 
}
nav ul{
    display: inline-block;
    margin : 10px;
}
nav ul li{
    text-shadow :#563434;
    text-decoration-line: underline;
    text-decoration-color:rgb(74, 236, 74);
    display: inline-block;
    margin-right: 20px;
    margin: 10px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    display:flex;
    padding-left: 25px;
    padding-right: 25px;
    color : greenyellow;
    background-color: #000;
    margin-top: 0;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 40px;
    padding-top: 10px;
    height: fit-content;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    display: flex;
    max-width: 100%;
    padding-left: 350px;
}
.col-2{
    font-size: 20px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background-color: #423f3f;
}
.header .logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.header .logo img {
    margin-left: 40px;
}
.header .logo .h1 {
    display: inline-block;
    width: fit-content;
}
.header .row{
    margin-top: 70px; 
}
.header .logo .icon {
    margin-right: 10px;
    margin: 20px;
    height: fit-content;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.row .col-3 img{
    height : 100%;
    border : 3px (solid #fcdede);
    width : 100%;
}
.small-container img{
    width: 196vh;
}